@import 'colors';
@import 'fonts';


// Global Classes
.clickable {
  cursor: pointer;
}

// Bulma Global Ajustments
@import '~bulma/sass/utilities/_all.sass';

.columns:not(.no-padding) {
  padding-left: 20px;
  padding-right: 20px;
  .column {
    padding: 0.9rem;
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'MontserratBold';
}

$navbar-background-color: white;
$navbar-height: 5rem;
$navbar-tab-active-color: $grey-dark;
$navbar-item-hover-color: $grey-dark;
$navbar-item-color: $grey;

$card-shadow: none;
$card-footer-border-top: none;

$body-family: 'OpenSansRegular';

@import '~bulma';

// Html / Body adjustments
html {
  font-family: 'Montserrat', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: #eee;
}

.token.tag,
.token.content,
.token.number {
  display: inline;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  border-radius: inherit;
  font-weight: inherit;
  white-space: inherit;
  background: inherit;
  margin: inherit;
}
